<?xml version="1.0" encoding="utf-8"?>
<!-- #######################################################################-->
<!-- The configuration section groups should match the entries within the   -->
<!-- Insight.Foundation.Configuration.config file under the                 -->
<!-- EnvironmentSection                                                     -->
<!-- #######################################################################-->
<configuration>
  <configSections>
    <sectionGroup name="insight.foundation.configuration.development">
      <section name="DatabaseConnectionSection" type="Insight.Foundation.Database.DatabaseConnectionSection, Insight.Foundation, Version=1.3.0.0, Culture=neutral, PublicKeyToken=f8f13c26d6a0a8bd" />
    </sectionGroup>
    <sectionGroup name="insight.foundation.configuration.sharepointdevelopment">
      <section name="DatabaseConnectionSection" type="Insight.Foundation.Database.DatabaseConnectionSection, Insight.Foundation, Version=1.3.0.0, Culture=neutral, PublicKeyToken=f8f13c26d6a0a8bd" />
    </sectionGroup>
    <sectionGroup name="insight.foundation.configuration.sharepointuat">
      <section name="DatabaseConnectionSection" type="Insight.Foundation.Database.DatabaseConnectionSection, Insight.Foundation, Version=1.3.0.0, Culture=neutral, PublicKeyToken=f8f13c26d6a0a8bd" />
    </sectionGroup>
    <sectionGroup name="insight.foundation.configuration.bde">
      <section name="DatabaseConnectionSection" type="Insight.Foundation.Database.DatabaseConnectionSection, Insight.Foundation, Version=1.3.0.0, Culture=neutral, PublicKeyToken=f8f13c26d6a0a8bd" />
    </sectionGroup>
    <sectionGroup name="insight.foundation.configuration.systemtest">
      <section name="DatabaseConnectionSection" type="Insight.Foundation.Database.DatabaseConnectionSection, Insight.Foundation, Version=1.3.0.0, Culture=neutral, PublicKeyToken=f8f13c26d6a0a8bd" />
    </sectionGroup>
    <sectionGroup name="insight.foundation.configuration.uat">
      <section name="DatabaseConnectionSection" type="Insight.Foundation.Database.DatabaseConnectionSection, Insight.Foundation, Version=1.3.0.0, Culture=neutral, PublicKeyToken=f8f13c26d6a0a8bd" />
    </sectionGroup>
    <sectionGroup name="insight.foundation.configuration.lightning">
      <section name="DatabaseConnectionSection" type="Insight.Foundation.Database.DatabaseConnectionSection, Insight.Foundation, Version=1.3.0.0, Culture=neutral, PublicKeyToken=f8f13c26d6a0a8bd" />
    </sectionGroup>
    <sectionGroup name="insight.foundation.configuration.production">
      <section name="DatabaseConnectionSection" type="Insight.Foundation.Database.DatabaseConnectionSection, Insight.Foundation, Version=1.3.0.0, Culture=neutral, PublicKeyToken=f8f13c26d6a0a8bd" />
    </sectionGroup>
  </configSections>
  
  <!-- #######################################################################-->
  <!-- DEVELOPMENT SECTION                                                    -->
  <!-- #######################################################################-->
  <insight.foundation.configuration.development>
    <DatabaseConnectionSection defaultTimeout="60">
      <DatabaseConnections>
        <!-- NOTE: When adding a new <DatabaseConnection/> add a constant to the Insight.Foundation.Database.ConnectionAlias class.
                   Use these constants instead of string literals when refering to a <DatabaseConnection/> in code. -->
        <DatabaseConnection name="adp" connectionString="Server=SQLS570FD\SQL01;Database=DEVADP;Trusted_Connection=Yes" />
        <DatabaseConnection name="ams" connectionString="Server=SQLS570FD\SQL01;Database=DEVAMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="attribution" connectionString="Server=SQLS540FD\SQL504D;Database=DEVAttribution;Trusted_Connection=Yes" />
        <!-- Deprecated "benchmark" incorrectly points to the BenchmarkLoad database -->
        <DatabaseConnection name="benchmark" connectionString="Server=SQLS540FD\SQL502D;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmark2" connectionString="Server=SQLS540FD\SQL502D;Database=Benchmark;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkaudit" connectionString="Server=SQLS540FD\SQL502D;Database=BenchmarkAudit;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkload" connectionString="Server=SQLS540FD\SQL502D;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="bsapi" connectionString="Server=APPSBBS501FD;Database=DEVBSAPI;Trusted_Connection=Yes" />
        <DatabaseConnection name="cadis" connectionString="Server=SQLS555FD\SQL805D;Database=DevCadis;Trusted_Connection=Yes" />
        <DatabaseConnection name="cmdb" connectionString="Server=SQLS540FD\SQL502D;Database=DEVInfradb;Trusted_Connection=Yes" />
        <DatabaseConnection name="compliance" connectionString="Server=SQLS555FD\SQL808D;Database=DEVCompliance;Trusted_Connection=Yes" />
        <DatabaseConnection name="complianceArchive" connectionString="Server=SQLS555FD\SQL808D;Database=DEVComplianceArchive;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_EM" connectionString="Server=APPSCTM502FD;Database=DEVControlM_EM;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_Insight" connectionString="Server=APPSCTM502FD;Database=DEVControlM_Insight;Trusted_Connection=Yes" />
        <DatabaseConnection name="cygnus" connectionString="Server=SQLS555FD\SQL806D;Database=DEVCygnus;Trusted_Connection=Yes" />
        <DatabaseConnection name="datahistory" connectionString="Server=SQLS555FD\SQL805D;Database=DevDataHistory;Trusted_Connection=Yes" />
        <DatabaseConnection name="fsgperformance" connectionString="Server=SQLS540FD\SQL803D;Database=DEVFSGPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="fusion" connectionString="Server=SQLS570FD\SQL03D;Database=DEVFusion;Trusted_Connection=Yes" />
        <DatabaseConnection name="hive" connectionString="Server=SQLS540FD\SQL802D;Database=DEVHive;Trusted_Connection=Yes" />
        <DatabaseConnection name="inca" connectionString="Server=SQLS555FD\SQL806D;Database=DEVInca;Trusted_Connection=Yes" />
        <DatabaseConnection name="latentzero" connectionString="Server=SQLS508FU;Database=DEVCapstone_Temp;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldiperformance" connectionString="Server=SQLS540FD\SQL504D;Database=DEVLDIPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldirebalancer" connectionString="Server=SQLS540FD\SQL504D;Database=DEVLDIPIMMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="lima" connectionString="Server=SQLS555FD\SQL808D;Database=DEVLIMA;Trusted_Connection=Yes" />
        <DatabaseConnection name="logging" connectionString="Server=SQLS555FD\SQL805D;Database=DevLogging;Trusted_Connection=Yes" />
        <DatabaseConnection name="mdax" connectionString="Server=SQLS555FD\SQL808D;Database=DEVMDAX;Trusted_Connection=Yes" />
        <DatabaseConnection name="midas" connectionString="Server=SQLS555FD\SQL805D;Database=DevMidas;Trusted_Connection=Yes" />
        <DatabaseConnection name="minervaorderapi" connectionString="idemuser;fxoptiontrade321" />
        <DatabaseConnection name="nadia_security" connectionString="Server=SQLS555FD\SQL805D;Database=DevSecurity;Trusted_Connection=Yes" />
        <DatabaseConnection name="otctrade" connectionString="Server=SQLS540FD\SQL504D;Database=DEVOTCTrade;Trusted_Connection=Yes" />
        <DatabaseConnection name="opec" connectionString="Server=SQLS570FD\SQL01;Database=DEVOPEC;Trusted_Connection=Yes" />
        <DatabaseConnection name="pricingplatform" connectionString="Server=SQLS555FD\SQL808D;Database=DEVPricingPlatform;Trusted_Connection=Yes" />
        <DatabaseConnection name="resolve" connectionString="Server=SQLS540FD\SQL504D;Database=InsightIncidentReportDB;Trusted_Connection=Yes" />
        <DatabaseConnection name="riskreporting" connectionString="Server=SQLS02DEV\SQL2K5;Database=RiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="salesforceextract" connectionString="Server=SQLS555FD\SQL808D;Database=DEVSalesforceExtract;Trusted_Connection=Yes" />
        <DatabaseConnection name="sharepointdocumentindex" connectionString="Server=SQLS555FD\SQL801D;Database=DEVSharePointDocumentIndex;Trusted_Connection=Yes" />
        <DatabaseConnection name="smi" connectionString="Server=SQLS540FD\SQL803D;Database=DEVSMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiaumff" connectionString="Server=SQLS508FU\SQL3;Database=AUMFF;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiriskreporting" connectionString="Server=SQLS508FU\SQL3;Database=DevSMIRiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinkfolio" connectionString="Server=APPSTHF501FD;Database=DEVThinkFolio;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinktransfer" connectionString="Server=APPSTHF501FD;Database=DEVThinkTransfer;Trusted_Connection=Yes" />
        <DatabaseConnection name="tms" connectionString="Server=SQLS540FD\SQL802D;Database=DEVTMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="otcpricing" connectionString="Server=SQLS570FD\SQL01;Database=DEVOTCPricing;Trusted_Connection=Yes" />
      </DatabaseConnections>
      <EncryptedDatabaseConnections>
        <!-- Add a DatabaseConnection element when required -->
      </EncryptedDatabaseConnections>
    </DatabaseConnectionSection>
  </insight.foundation.configuration.development>

  <!-- #######################################################################-->
  <!-- SHAREPOINT DEVELOPMENT SECTION                                         -->
  <!-- #######################################################################-->
  <insight.foundation.configuration.sharepointdevelopment>
    <DatabaseConnectionSection defaultTimeout="60">
      <DatabaseConnections>

        <DatabaseConnection name="attribution" connectionString="Server=SQLS540FD\SQL504D;Database=DEVAttribution;Trusted_Connection=Yes" />
        <!-- Deprecated "benchmark" incorrectly points to the BenchmarkLoad database -->
        <DatabaseConnection name="benchmark" connectionString="Server=SQLS540FD\SQL502D;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmark2" connectionString="Server=SQLS540FD\SQL502D;Database=Benchmark;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkaudit" connectionString="Server=SQLS540FD\SQL502D;Database=BenchmarkAudit;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkload" connectionString="Server=SQLS540FD\SQL502D;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="bsapi" connectionString="Server=APPSBBS501FD;Database=DEVBSAPI;Trusted_Connection=Yes" />
        <DatabaseConnection name="cadis" connectionString="Server=SQLS555FD\SQL805D;Database=DevCadis;Trusted_Connection=Yes" />
        <DatabaseConnection name="cmdb" connectionString="Server=SQLS540FD\SQL502D;Database=DEVInfradb;Trusted_Connection=Yes" />
        <DatabaseConnection name="compliance" connectionString="Server=SQLS555FD\SQL808D;Database=DEVCompliance;Trusted_Connection=Yes" />
        <DatabaseConnection name="complianceArchive" connectionString="Server=SQLS555FD\SQL808D;Database=DEVComplianceArchive;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_EM" connectionString="Server=APPSCTM502FD;Database=DEVControlM_EM;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_Insight" connectionString="Server=APPSCTM502FD;Database=DEVControlM_Insight;Trusted_Connection=Yes" />
        <DatabaseConnection name="datahistory" connectionString="Server=SQLS555FD\SQL805D;Database=DevDataHistory;Trusted_Connection=Yes" />
        <DatabaseConnection name="fsgperformance" connectionString="Server=SQLS540FD\SQL803D;Database=DEVFSGPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="fusion" connectionString="Server=SQLS570FD\SQL03D;Database=DEVFusion;Trusted_Connection=Yes" />
        <DatabaseConnection name="hive" connectionString="Server=SQLS540FD\SQL802D;Database=DEVHive;Trusted_Connection=Yes" />
        <DatabaseConnection name="latentzero" connectionString="Server=SQLS508FU;Database=DEVCapstone_Temp;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldiperformance" connectionString="Server=SQLS540FD\SQL504D;Database=DEVLDIPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldirebalancer" connectionString="Server=SQLS540FD\SQL504D;Database=DEVLDIPIMMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="logging" connectionString="Server=SQLS555FD\SQL805D;Database=DevLogging;Trusted_Connection=Yes" />
        <DatabaseConnection name="mdax" connectionString="Server=SQLS555FD\SQL808D;Database=DEVMDAX;Trusted_Connection=Yes" />
        <DatabaseConnection name="midas" connectionString="Server=SQLS555FD\SQL805D;Database=DevMidas;Trusted_Connection=Yes" />
        <DatabaseConnection name="minervaorderapi" connectionString="idemuser;fxoptiontrade321" />
        <DatabaseConnection name="nadia_security" connectionString="Server=SQLS555FD\SQL805D;Database=DevSecurity;Trusted_Connection=Yes" />
        <DatabaseConnection name="otctrade" connectionString="Server=SQLS540FD\SQL504D;Database=DEVOTCTrade;Trusted_Connection=Yes" />
        <DatabaseConnection name="opec" connectionString="Server=SQLS570FD\SQL01;Database=DEVOPEC;Trusted_Connection=Yes" />
        <DatabaseConnection name="pricingplatform" connectionString="Server=SQLS555FD\SQL808D;Database=DEVPricingPlatform;Trusted_Connection=Yes" />
        <DatabaseConnection name="resolve" connectionString="Server=SQLS540FD\SQL504D;Database=InsightIncidentReportDB;Trusted_Connection=Yes" />
        <DatabaseConnection name="riskreporting" connectionString="Server=SQLS02DEV\SQL2K5;Database=RiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="smi" connectionString="Server=SQLS540FD\SQL803D;Database=DEVSMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiaumff" connectionString="Server=SQLS508FU\SQL3;Database=AUMFF;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiriskreporting" connectionString="Server=SQLS508FU\SQL3;Database=DevSMIRiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinkfolio" connectionString="Server=APPSTHF501FD;Database=DEVThinkFolio;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinktransfer" connectionString="Server=APPSTHF501FD;Database=DEVThinkTransfer;Trusted_Connection=Yes" />
        <DatabaseConnection name="otcpricing" connectionString="Server=SQLS570FD\SQL01;Database=DEVOTCPricing;Trusted_Connection=Yes" />
      </DatabaseConnections>
      <EncryptedDatabaseConnections>
      </EncryptedDatabaseConnections>
    </DatabaseConnectionSection>
  </insight.foundation.configuration.sharepointdevelopment>

  <!-- #######################################################################-->
  <!-- SYSTEM TEST SECTION                                                    -->
  <!-- #######################################################################-->
  <insight.foundation.configuration.systemtest>
    <DatabaseConnectionSection defaultTimeout="60">
      <DatabaseConnections>

        <DatabaseConnection name="attribution" connectionString="Server=SQLS540FD\SQL504D;Database=DEVAttribution;Trusted_Connection=Yes" />
        <!-- Deprecated "benchmark" incorrectly points to the BenchmarkLoad database -->
        <DatabaseConnection name="benchmark" connectionString="Server=SQLS02DEV\SQL2K5;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmark2" connectionString="Server=SQLS02DEV\SQL2K5;Database=Benchmark;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkaudit" connectionString="Server=SQLS02DEV\SQL2K5;Database=BenchmarkAudit;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkload" connectionString="Server=SQLS02DEV\SQL2K5;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="bsapi" connectionString="Server=APPSBBS501FD;Database=DEVBSAPI;Trusted_Connection=Yes" />
        <DatabaseConnection name="cadis" connectionString="Server=SQLS555FD\SQL805D;Database=DevCadis;Trusted_Connection=Yes" />
        <DatabaseConnection name="datahistory" connectionString="Server=SQLS555FD\SQL805D;Database=DevDataHistory;Trusted_Connection=Yes" />
        <DatabaseConnection name="fsgperformance" connectionString="Server=SQLS540FD\SQL803D;Database=DEVFSGPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="fusion" connectionString="Server=SQLS570FD\SQL03D;Database=DEVFusion;Trusted_Connection=Yes" />
        <DatabaseConnection name="latentzero" connectionString="Server=SQLS508FU;Database=DEVCapstone_Temp;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldirebalancer" connectionString="Server=SQLS02DEV;Database=DEVLdiRebalancer;Trusted_Connection=Yes" />
        <DatabaseConnection name="logging" connectionString="Server=SQLS555FD\SQL805D;Database=DevLogging;Trusted_Connection=Yes" />
        <DatabaseConnection name="midas" connectionString="Server=SQLS555FD\SQL805D;Database=DevMidas;Trusted_Connection=Yes" />
        <DatabaseConnection name="minervaorderapi" connectionString="idemuser;fxoptiontrade321" />
        <DatabaseConnection name="nadia_security" connectionString="Server=SQLS555FD\SQL805D;Database=DevSecurity;Trusted_Connection=Yes" />
        <DatabaseConnection name="otctrade" connectionString="Server=SQLS540FD\SQL504D;Database=DEVOTCTrade;Trusted_Connection=Yes" />
        <DatabaseConnection name="opec" connectionString="Server=SQLS570FD\SQL01;Database=DEVOPEC;Trusted_Connection=Yes" />
        <DatabaseConnection name="pricingplatform" connectionString="Server=SQLS555FD\SQL808D;Database=DEVPricingPlatform;Trusted_Connection=Yes" />
        <DatabaseConnection name="smi" connectionString="Server=SQLS508FU\SQL1;Database=DEVSMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiriskreporting" connectionString="Server=SQLS508FU\SQL3;Database=DevSMIRiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinkfolio" connectionString="Server=APPSTHF501FD;Database=DEVThinkFolio;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinktransfer" connectionString="Server=APPSTHF501FD;Database=DEVThinkTransfer;Trusted_Connection=Yes" />
      </DatabaseConnections>
      <EncryptedDatabaseConnections>
      </EncryptedDatabaseConnections>
    </DatabaseConnectionSection>
  </insight.foundation.configuration.systemtest>

  <!-- #######################################################################-->
  <!-- UAT SECTION                                                            -->
  <!-- #######################################################################-->
  <insight.foundation.configuration.uat>
    <DatabaseConnectionSection defaultTimeout="60">
      <DatabaseConnections>

        <DatabaseConnection name="ams" connectionString="Server=SQLS570FN\SQL01N;Database=NTTAMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="attribution" connectionString="Server=SQLS540FU\SQL501N;Database=NTTAttribution;Trusted_Connection=Yes" />
        <!-- Deprecated "benchmark" incorrectly points to the BenchmarkLoad database -->
        <DatabaseConnection name="benchmark" connectionString="Server=SQLS505FU\SQL1;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmark2" connectionString="Server=SQLS505FU\SQL1;Database=Benchmark;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkaudit" connectionString="Server=SQLS505FU\SQL1;Database=BenchmarkAudit;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkload" connectionString="Server=SQLS505FU\SQL1;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="bsapi" connectionString="Server=APPSBBS501FN;Database=NTTBSAPI;Trusted_Connection=Yes" />
        <DatabaseConnection name="cadis" connectionString="Server=isusqlcadis01;Database=UATCadis;Trusted_Connection=Yes" />
        <DatabaseConnection name="cmdb" connectionString="Server=SQLS540FU\SQL501U;Database=UATInfradb;Trusted_Connection=Yes" />
        <!--<DatabaseConnection name="controlm_EM" connectionString="Server=APPSCTM502FU;Database=UATControlM_EM;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_Insight" connectionString="Server=APPSCTM502FU;Database=UATControlM_Insight;Trusted_Connection=Yes" />-->
        <DatabaseConnection name="cygnus" connectionString="Server=SQLS573FN\SQL01N;Database=NTTCygnus;Trusted_Connection=Yes" />
        <DatabaseConnection name="datahistory" connectionString="Server=isusqlcadis01;Database=INTDataHistory;Trusted_Connection=Yes" />
        <DatabaseConnection name="fusion" connectionString="Server=SQLS570FN\SQL03N;Database=NTTFusion;Trusted_Connection=Yes" />
        <DatabaseConnection name="hive" connectionString="Server=SQLS540FU\SQL801N;Database=NTTHive;Trusted_Connection=Yes" />
        <DatabaseConnection name="latentzero" connectionString="Server=appslz01fu;Database=INTMinerva;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldiperformance" connectionString="Server=SQLS505FU\SQL2k5;Database=UATLDIPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldirebalancer" connectionString="Server=SQLS02DEV;Database=UATLdiRebalancer;Trusted_Connection=Yes" />
        <DatabaseConnection name="lima" connectionString="Server=SQLS555FN\SQL801N;Database=NTTLIMA;Trusted_Connection=Yes" />
        <DatabaseConnection name="logging" connectionString="Server=isusqlcadis01;Database=UATLogging;Trusted_Connection=Yes" />
        <DatabaseConnection name="mdax" connectionString="Server=SQLS555FN\SQL808N;Database=NTTMDAX;Trusted_Connection=Yes" />
        <DatabaseConnection name="midas" connectionString="Server=isusqlcadis01;Database=UATMidas;Trusted_Connection=Yes" />
        <DatabaseConnection name="minervaorderapi" connectionString="idemuser;fxoptiontrade321" />
        <DatabaseConnection name="nadia_security" connectionString="Server=isusqlcadis01;Database=UATSecurity;Trusted_Connection=Yes" />
        <DatabaseConnection name="otctrade" connectionString="Server=SQLS505FU\SQL1;Database=UATOTCTrade;Trusted_Connection=Yes" />
        <DatabaseConnection name="pricingplatform" connectionString="Server=SQLS555FN\SQL808N;Database=NTTPricingPlatform;Trusted_Connection=Yes" />
        <DatabaseConnection name="smi" connectionString="Server=SQLS512FU;Database=UATSMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiaumff" connectionString="Server=SQLS505FU\SQL2K5;Database=UATAUMFF;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiriskreporting" connectionString="Server=SQLS505FU\SQL1;Database=UATSMIRiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinkfolio" connectionString="Server=APPSTHF501FU;Database=UATThinkFolio;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinktransfer" connectionString="Server=APPSTHF501FU;Database=UATThinkTransfer;Trusted_Connection=Yes" />
        <DatabaseConnection name="tms" connectionString="Server=SQLS540FU\SQL801N;Database=NTTTMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="otcpricing" connectionString="Server=SQLS570FN\SQL01N;Database=NTTOTCPricing;Trusted_Connection=Yes" />
      </DatabaseConnections>
      <EncryptedDatabaseConnections>
      </EncryptedDatabaseConnections>
    </DatabaseConnectionSection>
  </insight.foundation.configuration.uat>

  <!-- #######################################################################-->
  <!-- SHAREPOINT UAT  SECTION - SO WE CAN MERGE PARTS OF UAT AND PARTS OF NTT ENVS       -->
  <!-- #######################################################################-->
  <insight.foundation.configuration.sharepointuat>
    <DatabaseConnectionSection defaultTimeout="60">
      <DatabaseConnections>

        <DatabaseConnection name="attribution" connectionString="Server=SQLS540FU\SQL501N;Database=NTTAttribution;Trusted_Connection=Yes" />
        <!-- Deprecated "benchmark" incorrectly points to the BenchmarkLoad database -->
        <DatabaseConnection name="benchmark" connectionString="Server=SQLS505FU\SQL1;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmark2" connectionString="Server=SQLS505FU\SQL1;Database=Benchmark;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkaudit" connectionString="Server=SQLS505FU\SQL1;Database=BenchmarkAudit;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkload" connectionString="Server=SQLS505FU\SQL1;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="bsapi" connectionString="Server=APPSBBS501FN;Database=NTTBSAPI;Trusted_Connection=Yes" />
        <DatabaseConnection name="cadis" connectionString="Server=isusqlcadis01;Database=UATCadis;Trusted_Connection=Yes" />
        <DatabaseConnection name="cmdb" connectionString="Server=SQLS540FU\SQL501U;Database=UATInfradb;Trusted_Connection=Yes" />
        <!--<DatabaseConnection name="controlm_EM" connectionString="Server=APPSCTM501FN;Database=NTTControlM_EM;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_Insight" connectionString="Server=APPSCTM501FN;Database=NTTControlM_Insight;Trusted_Connection=Yes" />-->
        <DatabaseConnection name="datahistory" connectionString="Server=isusqlcadis01;Database=INTDataHistory;Trusted_Connection=Yes" />
        <DatabaseConnection name="fusion" connectionString="Server=SQLS570FN\SQL03N;Database=NTTFusion;Trusted_Connection=Yes" />
        <DatabaseConnection name="hive" connectionString="Server=SQLS540FU\SQL801N;Database=NTTHive;Trusted_Connection=Yes" />
        <DatabaseConnection name="latentzero" connectionString="Server=appslz01fu;Database=INTMinerva;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldiperformance" connectionString="Server=SQLS505FU\SQL2k5;Database=UATLDIPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldirebalancer" connectionString="Server=SQLS02DEV;Database=UATLdiRebalancer;Trusted_Connection=Yes" />
        <DatabaseConnection name="logging" connectionString="Server=isusqlcadis01;Database=UATLogging;Trusted_Connection=Yes" />
        <DatabaseConnection name="mdax" connectionString="Server=SQLS555FN\SQL808N;Database=NTTMDAX;Trusted_Connection=Yes" />
        <DatabaseConnection name="midas" connectionString="Server=SQLS561FN;Database=NTTMidas;Trusted_Connection=Yes" />
        <DatabaseConnection name="minervaorderapi" connectionString="idemuser;fxoptiontrade321" />
        <DatabaseConnection name="nadia_security" connectionString="Server=isusqlcadis01;Database=UATSecurity;Trusted_Connection=Yes" />
        <DatabaseConnection name="otctrade" connectionString="Server=SQLS505FU\SQL1;Database=UATOTCTrade;Trusted_Connection=Yes" />
        <DatabaseConnection name="pricingplatform" connectionString="Server=SQLS555FN\SQL808N;Database=NTTPricingPlatform;Trusted_Connection=Yes" />
        <DatabaseConnection name="resolve" connectionString="Server=SQLS05FU\SQL2k5;Database=UATInsightIncidentReportDB;Trusted_Connection=Yes" />
        <DatabaseConnection name="smi" connectionString="Server=sqls540fu\sql502n;Database=NTTSMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiaumff" connectionString="Server=SQLS505FU\SQL2K5;Database=UATAUMFF;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiriskreporting" connectionString="Server=SQLS505FU\SQL1;Database=UATSMIRiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinkfolio" connectionString="Server=APPSTHF501FU;Database=UATThinkFolio;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinktransfer" connectionString="Server=APPSTHF501FU;Database=UATThinkTransfer;Trusted_Connection=Yes" />
        <DatabaseConnection name="otcpricing" connectionString="Server=SQLS570FN\SQL01N;Database=NTTOTCPricing;Trusted_Connection=Yes" />
      </DatabaseConnections>
      <EncryptedDatabaseConnections>
      </EncryptedDatabaseConnections>
    </DatabaseConnectionSection>
  </insight.foundation.configuration.sharepointuat>

  <!-- #######################################################################-->
  <!-- BDE SECTION - Mainly for SMI testing       -->
  <!-- #######################################################################-->
  <insight.foundation.configuration.bde>
    <DatabaseConnectionSection defaultTimeout="60">
      <DatabaseConnections>
        <DatabaseConnection name="cadis" connectionString="Server=SQLS540FD\SQL501B;Database=BDECadis_SMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_EM" connectionString="Server=APPSCTM502FB;Database=BDEControlM_EM;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_Insight" connectionString="Server=APPSCTM502FB;Database=BDEControlM_Insight;Trusted_Connection=Yes" />
        <DatabaseConnection name="latentzero" connectionString="Server=SQLS540FD\SQL501B;Database=BDECapstone_SMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="midas" connectionString="Server=SQLS540FD\SQL501B;Database=BDEMidas_SMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="smi" connectionString="Server=SQLS540FD\SQL801B;Database=BDESMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiaumff" connectionString="Server=SQLS540FD\SQL501B;Database=BDEAUMFF;Trusted_Connection=Yes" />
        <DatabaseConnection name="smidatawarehouse" connectionString="Server=SQLS540FD\SQL501B;Database=BDESMIDataWarehouse;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiriskreporting" connectionString="Server=SQLS540FD\SQL501B;Database=BDESMIRiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinktransfer" connectionString="Server=SQLS540FD\SQL501B;Database=BDEThinktransfer_SMI;Trusted_Connection=Yes" />
      </DatabaseConnections>
      <EncryptedDatabaseConnections>
      </EncryptedDatabaseConnections>
    </DatabaseConnectionSection>
  </insight.foundation.configuration.bde>

  <!-- #######################################################################-->
  <!-- LIGHTNING SECTION                                                      -->
  <!-- #######################################################################-->
  <insight.foundation.configuration.lightning>
    <DatabaseConnectionSection defaultTimeout="60">
      <DatabaseConnections>

        <DatabaseConnection name="ams" connectionString="Server=SQLS570FN\SQL01N;Database=NTTAMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="attribution" connectionString="Server=SQLS540FU\SQL501N;Database=NTTAttribution;Trusted_Connection=Yes" />
        <!-- Deprecated "benchmark" incorrectly points to the BenchmarkLoad database -->
        <DatabaseConnection name="benchmark" connectionString="Server=SQLS540FU\SQL502N;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmark2" connectionString="Server=SQLS540FU\SQL502N;Database=Benchmark;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkaudit" connectionString="Server=SQLS540FU\SQL502N;Database=BenchmarkAudit;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkload" connectionString="Server=SQLS540FU\SQL502N;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="bsapi" connectionString="Server=APPSBBS501FN;Database=NTTBSAPI;Trusted_Connection=Yes" />
        <DatabaseConnection name="cadis" connectionString="Server=SQLS561FN;Database=NTTCadis;Trusted_Connection=Yes" />
        <DatabaseConnection name="compliance" connectionString="Server=SQLS555FN\SQL808N;Database=NTTCompliance;Trusted_Connection=Yes" />
        <DatabaseConnection name="complianceArchive" connectionString="Server=SQLS555FN\SQL808N;Database=NTTComplianceArchive;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_EM" connectionString="Server=APPSCTM502FN;Database=nttcontrolm_em;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_Insight" connectionString="Server=APPSCTM502FN;Database=NTTControlM_Insight;Trusted_Connection=Yes" />
        <DatabaseConnection name="cygnus" connectionString="Server=SQLS573FN\SQL01N;Database=NTTCygnus;Trusted_Connection=Yes" />
        <DatabaseConnection name="datahistory" connectionString="Server=SQLS561FN;Database=NTTDataHistory;Trusted_Connection=Yes" />
        <DatabaseConnection name="fsgperformance" connectionString="Server=SQLS540FU\SQL801N;Database=NTTFSGPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="fusion" connectionString="Server=SQLS570FN\SQL03N;Database=NTTFusion;Trusted_Connection=Yes" />
        <DatabaseConnection name="hive" connectionString="Server=SQLS540FU\SQL801N;Database=NTTHive;Trusted_Connection=Yes" />
        <DatabaseConnection name="inca" connectionString="Server=SQLS555FN\SQL806N;Database=NTTInca;Trusted_Connection=Yes" />
        <DatabaseConnection name="latentzero" connectionString="Server=APPSLZC501FU;Database=NTTCapstone;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldiperformance" connectionString="Server=SQLS540FU\SQL502N;Database=NTTLDIPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldirebalancer" connectionString="Server=SQLS540FU\SQL502N;Database=NTTLDIPIMMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="lima" connectionString="Server=SQLS555FN\SQL801N;Database=NTTLIMA;Trusted_Connection=Yes" />
        <DatabaseConnection name="logging" connectionString="Server=SQLS561FN;Database=NTTLogging;Trusted_Connection=Yes" />
        <DatabaseConnection name="mdax" connectionString="Server=SQLS555FN\SQL808N;Database=NTTMDAX;Trusted_Connection=Yes" />
        <DatabaseConnection name="midas" connectionString="Server=SQLS561FN;Database=NTTMidas;Trusted_Connection=Yes" />
        <DatabaseConnection name="minervaorderapi" connectionString="idemuser;fxoptiontrade321" />
        <DatabaseConnection name="nadia_security" connectionString="Server=SQLS561FN;Database=NTTSecurity;Trusted_Connection=Yes" />
        <DatabaseConnection name="otctrade" connectionString="Server=SQLS540FU\SQL502N;Database=NTTOTCTrade;Trusted_Connection=Yes" />
        <DatabaseConnection name="opec" connectionString="Server=SQLS570FN\SQL01N;Database=NTTOPEC;Trusted_Connection=Yes" />  
        <DatabaseConnection name="pricingplatform" connectionString="Server=SQLS555FN\SQL808N;Database=NTTPricingPlatform;Trusted_Connection=Yes" />
        <DatabaseConnection name="resolve" connectionString="Server=SQLS540FU\SQL502N;Database=NTTInsightIncidentReportDB;Trusted_Connection=Yes" />
        <DatabaseConnection name="salesforceextract" connectionString="Server=SQLS555FN\SQL808N;Database=NTTSalesforceExtract;Trusted_Connection=Yes" />
        <DatabaseConnection name="sharepointdocumentindex" connectionString="Server=SQLS547FN;Database=NTTSharePointDocumentIndex;Trusted_Connection=Yes" />
        <DatabaseConnection name="smi" connectionString="Server=SQLS540FU\SQL801N;Database=NTTSMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiaumff" connectionString="Server=SQLS540FU\SQL502N;Database=NTTAUMFF;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiriskreporting" connectionString="Server=SQLS540FU\SQL502N;Database=NTTSMIRiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinkfolio" connectionString="Server=APPSTHF501FN;Database=NTTThinkFolio;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinktransfer" connectionString="Server=APPSTHF501FN;Database=NTTThinkTransfer;Trusted_Connection=Yes" />
        <DatabaseConnection name="tms" connectionString="Server=SQLS540FU\SQL801N;Database=NTTTMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="otcpricing" connectionString="Server=SQLS570FN\SQL01N;Database=NTTOTCPricing;Trusted_Connection=Yes" />
      </DatabaseConnections>
      <EncryptedDatabaseConnections>
      </EncryptedDatabaseConnections>
    </DatabaseConnectionSection>
  </insight.foundation.configuration.lightning>

  <!-- #######################################################################-->
  <!-- PRODUCTION SECTION                                                     -->
  <!-- #######################################################################-->
  <insight.foundation.configuration.production>
    <DatabaseConnectionSection defaultTimeout="60">
      <DatabaseConnections>

        <DatabaseConnection name="ams" connectionString="Server=SQLS070FP\SQL01P;Database=PRDAMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="attribution" connectionString="Server=SQLS040FP\SQL501P;Database=PRDAttribution;Trusted_Connection=Yes" />
        <!-- Deprecated "benchmark" incorrectly points to the BenchmarkLoad database -->
        <DatabaseConnection name="benchmark" connectionString="Server=SQLS040FP\SQL504P;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmark2" connectionString="Server=SQLS040FP\SQL504P;Database=Benchmark;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkaudit" connectionString="Server=SQLS040FP\SQL504P;Database=BenchmarkAudit;Trusted_Connection=Yes" />
        <DatabaseConnection name="benchmarkload" connectionString="Server=SQLS040FP\SQL504P;Database=BenchmarkLoad;Trusted_Connection=Yes" />
        <DatabaseConnection name="bsapi" connectionString="Server=APPSBBS001FP;Database=PRDBSAPI;Trusted_Connection=Yes" />
        <DatabaseConnection name="cadis" connectionString="Server=SQLS061FP;Database=ProdCadis;Trusted_Connection=Yes" />
        <DatabaseConnection name="cmdb" connectionString="Server=SQLS040FP\SQL501P;Database=PRDInfradb;Trusted_Connection=Yes" />
        <DatabaseConnection name="compliance" connectionString="Server=SQLS055FP\SQL808P;Database=PRDCompliance;Trusted_Connection=Yes" />
        <DatabaseConnection name="complianceArchive" connectionString="Server=SQLS055FP\SQL808P;Database=PRDComplianceArchive;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_EM" connectionString="Server=APPSCTM002FP;Database=prdcontrolm_em;Trusted_Connection=Yes" />
        <DatabaseConnection name="controlm_Insight" connectionString="Server=APPSCTM002FP;Database=PRDControlM_Insight;Trusted_Connection=Yes" />
        <DatabaseConnection name="cygnus" connectionString="Server=SQLS073FP\SQL01P;Database=PRDCygnus;Trusted_Connection=Yes" />
        <DatabaseConnection name="datahistory" connectionString="Server=SQLS061FP;Database=PRDDataHistory;Trusted_Connection=Yes" />
        <DatabaseConnection name="fsgperformance" connectionString="Server=SQLS040FP\SQL803P;Database=PRDFSGPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="fusion" connectionString="Server=SQLS070FP\SQL03P;Database=PRDFusion;Trusted_Connection=Yes" />
        <DatabaseConnection name="hive" connectionString="Server=SQLS040FP\SQL803P;Database=PRDHive;Trusted_Connection=Yes" />
        <DatabaseConnection name="inca" connectionString="Server=SQLS055FP\SQL806P;Database=PRDInca;Trusted_Connection=Yes" />
        <DatabaseConnection name="latentzero" connectionString="Server=APPSLZC001FP;Database=PRDCapstone;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldiperformance" connectionString="Server=sqls02fp\sql2k5;Database=PRDLDIPerformance;Trusted_Connection=Yes" />
        <DatabaseConnection name="ldirebalancer" connectionString="Server=SQLS02FP\SQL2k5;Database=PRDLDIPIMMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="lima" connectionString="Server=SQLS055FP\SQL803P;Database=PRDLIMA;Trusted_Connection=Yes" />
        <DatabaseConnection name="logging" connectionString="Server=SQLS061FP;Database=PRDLogging;Trusted_Connection=Yes" />
        <DatabaseConnection name="mdax" connectionString="Server=SQLS055FP\SQL808P;Database=PRDMDAX;Trusted_Connection=Yes" />
        <DatabaseConnection name="midas" connectionString="Server=SQLS061FP;Database=ProdMidas;Trusted_Connection=Yes" />
        <DatabaseConnection name="minervaorderapi" connectionString="idemuser;fxoptiontrade321" />
        <DatabaseConnection name="nadia_security" connectionString="Server=SQLS061FP;Database=ProdSecurity;Trusted_Connection=Yes" />
        <DatabaseConnection name="otctrade" connectionString="Server=SQLS02FP\SQL2K5;Database=PRDOTCTrade;Trusted_Connection=Yes" />
        <DatabaseConnection name="opec" connectionString="Server=SQLS070FP\SQL01P;Database=PRDOPEC;Trusted_Connection=Yes" />
        <DatabaseConnection name="pricingplatform" connectionString="Server=SQLS055FP\SQL808P;Database=PRDPricingPlatform;Trusted_Connection=Yes" />
        <DatabaseConnection name="resolve" connectionString="Server=SQLS02fp\SQL2k5;Database=PRDInsightIncidentReportDB;Trusted_Connection=Yes" />
        <DatabaseConnection name="salesforceextract" connectionString="Server=SQLS055FP\SQL808P;Database=PRDSalesforceExtract;Trusted_Connection=Yes" />
        <DatabaseConnection name="sharepointdocumentindex" connectionString="Server=SQLS046FP;Database=PRDSharePointDocumentIndex;Trusted_Connection=Yes" />
        <DatabaseConnection name="smi" connectionString="Server=SQLS040FP\SQL803P;Database=PRDSMI;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiaumff" connectionString="Server=SQLS02FP\SQL2;Database=PRDAUMFF;Trusted_Connection=Yes" />
        <DatabaseConnection name="smiriskreporting" connectionString="Server=SQLS02FP\SQL2;Database=PRDSMIRiskReporting;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinkfolio" connectionString="Server=APPSTHF001FP;Database=PRDThinkFolio;Trusted_Connection=Yes" />
        <DatabaseConnection name="thinktransfer" connectionString="Server=APPSTHF001FP;Database=PRDThinkTransfer;Trusted_Connection=Yes" />
        <DatabaseConnection name="tms" connectionString="Server=SQLS040FP\SQL803P;Database=PRDTMS;Trusted_Connection=Yes" />
        <DatabaseConnection name="otcpricing" connectionString="Server=SQLS070FP\SQL01P;Database=PRDOTCPricing;Trusted_Connection=Yes" />
      </DatabaseConnections>
      <EncryptedDatabaseConnections>
      </EncryptedDatabaseConnections>
    </DatabaseConnectionSection>
  </insight.foundation.configuration.production>
</configuration>