<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EnvironmentSection" type="Insight.Foundation.Configuration.EnvironmentSection, Insight.Foundation, Version=1.3.0.0, Culture=neutral, PublicKeyToken=f8f13c26d6a0a8bd"/>
  </configSections>

  <EnvironmentSection>
    <Environments>
      <!-- We may have multiple DEV Salesforce Sandbox Orgs and so will just use a simple naming convention -->
      <Environment name="salesforcedevelopment1" alias="SALESFORCEDEV1" enabled="true" priority="100"/>
      <Environment name="salesforcedevelopment2" alias="SALESFORCEDEVSP" enabled="true" priority="99"/>
      <Environment name="salesforcedevelopment3" alias="SALESFORCEDEVJP" enabled="true" priority="98"/>
      <Environment name="salesforcedevelopment4" alias="SALESFORCEDEVDB" enabled="true" priority="97"/>
      <Environment name="salesforcedevelopment5" alias="SALESFORCEDEVTF" enabled="true" priority="96"/>
      <Environment name="salesforcedevelopment6" alias="SALESFORCESUMMER14" enabled="true" priority="95"/>
      <Environment name="salesforcedevelopment7" alias="SALESFORCEDEVJS" enabled="true" priority="94"/>
      <Environment name="salesforcedevelopment8" alias="SALESFORCEDEVQA" enabled="true" priority="93"/>
      <Environment name="salesforcedevelopment9" alias="SALESFORCEDEVCA" enabled="true" priority="92"/>
      <Environment name="salesforcedevelopment10" alias="SALESFORCEDEVCW" enabled="true" priority="91"/>
      <Environment name="salesforcedevelopment11" alias="SALESFORCEDEVAI" enabled="true" priority="90"/>

      <Environment name="bde" alias="BDE" enabled="true" priority ="8"/>
      <Environment name="sharepointuat" alias="SHAREPOINTUAT" enabled="true" priority ="7"/>
      <Environment name="sharepointdevelopment" alias="SHAREPOINTDEV" enabled="true" priority ="6"/>
      <Environment name="development" alias="DEV" enabled="true" priority ="5" default="true"/>
      <Environment name="systemtest" alias="SYS" enabled="true" priority ="4"/>
      <Environment name="uat" alias="UAT" enabled="true" priority ="3"/>
      <Environment name="lightning" alias="NTT" enabled="true" priority ="2"/>
      <Environment name="production" alias="PRD" enabled="true" priority ="1"/>
    </Environments>
  </EnvironmentSection>

</configuration>